* {
  margin: 0;
  padding: 0;
  font-family: ubuntu;
}
body {
  background: rgb(223, 220, 226);
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0px 5px 1px black;
  margin-bottom: 1rem;
  background: #ebebeb;
  width: 90%;
}
@media (max-width: 500px) {
  .item {
    flex-direction: column;
    gap: 1rem;
  }
  .date_title {
    align-self: center;
  }
}

.date_title {
  display: flex;
  gap: 20px;
  align-items: center;
}
.date_title h2 {
  font-size: 35px;
  padding: 10px;
  background-color: rgb(55, 55, 55);
  border-radius: 10px;
}
.date {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(55, 55, 55);
  border-radius: 10px;
}
.amount {
  font-size: 20px;
  padding: 10px;
  background-color: rgb(55, 55, 55);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: rgb(158, 155, 161);
  padding: 2em 1em;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px black;
  margin-top: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-family: poppins;
  border: 2px solid black;
  box-shadow: 1px 2px 5px grey;
}
.form input:focus {
  outline: none;
}
.form button {
  padding: 10px;
  margin: 0;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 2px 5px grey;
}
